body {
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
    url(../img/fondodepantalla.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

h1 {
    letter-spacing: 0.1em;
}

.logoPrimary{
    width: 100%;
    max-width: 140px;

}

header {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
}

main {
    margin-left: 15rem;
    margin-top: 4rem;
}
h2 {
    font-size: 5rem;
    line-height: 1.2;
}

p {
    margin-top: 1.5rem;
    max-width: 400px;
    text-align: justify;
}

#createButton {
    margin-top: 4rem;
    border: 3px solid rgb(84, 255, 235) ;
    border-radius: 40px;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    background-color: rgb(157, 246, 243);
    
}

/* Decoracion paletas de colores */

.palettes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.palette {
    display: flex;
    gap: 0.5rem;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));

}

.palette:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* 🔹 COLORES */

.color {
    width: 100px;
    height:100px;
    border-radius: 2rem;
}

/* 🔹 COLORES DE PRUEBA */
/* PALETA 1 */
.palette:nth-child(1) .color:nth-child(1) { background: #8dcfe0; }
.palette:nth-child(1) .color:nth-child(2) { background: #d4beca; }
.palette:nth-child(1) .color:nth-child(3) { background: #de516f; }
.palette:nth-child(1) .color:nth-child(4) { background: #6e0f1c; }
.palette:nth-child(1) .color:nth-child(5) { background: #9c6e7a; }

/* PALETA 2 */
.palette:nth-child(2) .color:nth-child(1) { background: #9c6e7a; }
.palette:nth-child(2) .color:nth-child(2) { background: #6e0f1c; }
.palette:nth-child(2) .color:nth-child(3) { background: #de516f; }
.palette:nth-child(2) .color:nth-child(4) { background: #d4beca; }
.palette:nth-child(2) .color:nth-child(5) { background: #8dcfe0; }

/* PALETA 3 */
.palette:nth-child(3) .color:nth-child(1) { background: #10ac84; }
.palette:nth-child(3) .color:nth-child(2) { background: #f368e0; }
.palette:nth-child(3) .color:nth-child(3) { background: #ff9f43; }
.palette:nth-child(3) .color:nth-child(4) { background: #ee5253; }
.palette:nth-child(3) .color:nth-child(5) { background: #222f3e; }

.container {
    display: flex;
    gap: 10rem;
    max-width: 1400px;
    align-items: center; 
}