<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href = "../img/Favicon.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/crear.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <script></script>
    <title>PincelStudio</title>
</head>
<body>
    <header>
        <img class="logoPrimary" src="../img/logo.png" alt="Logo de pincel">
        <h1>PincelStudio</h1>
        <select>
            <option value="" disabled selected>Tamaño</option>
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
            <option value="opcion3">Opción 3</option>
        </select>
        <button id="miBoton">Generar paleta</button>
    </header>
    <footer>
    </footer>
</body>
</html>