<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href = "../img/Favicon.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/crear.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>PincelStudio</title>
</head>
<body>
    <header>
        <img class="logoPrimary" src="../img/logo.png" alt="Logo de pincel">
        <h1>PincelStudio</h1>
    </header>
    <main>
        <div class="container">
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)

</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)

</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)

</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
            <div class="box">
                <p> <span class="hexColors">#f4f5f7</span></p>
                <p> <span class="hslColor">hsl(111, 87%, 53%)</span></p>
                <button class="lock-btn">&#128274;</button>
                <button class="padlock-btn">&#128196;</button>
                <button class="open-lock-btn">&#128275;</button>
            </div>
        </div>
        <button class="padlock-btn">&#128196;</button>
        <button class="heart-btn">&#10084;&#65039;</button>
        <button class="empty-heart-btn">&#9825;</button>
        <select id="paletteSize">
        <option value="" disabled selected>Tamaño</option>
            <option value="6">6 colores</option>
            <option value="8">8 colores</option>
            <option value="9">9 colores</option>
        </select>
        <button id="btn" class="btn-hero">Generar paleta</button>
        <div class="toggle">
            <div class="slider"></div>
            <button class="option active" data-format="hex">HEX</button>
            <button class="option" data-format="hsl">HSL</button>
        </div>
        <script src="../javascript/script.js"></script>
    </main>
    <footer>
    </footer>
</body>
</html>