<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href = "../img/Favicon.png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <script></script>
    <title>PincelStudio</title>
</head>
<body>
    <header>
        <img class="logoPrimary" src="../img/logo.png" alt="Logo de pincel">
        <h1>PincelStudio</h1>
    </header>

    <main>
        <section class="container">
            <div class="text">
            <h2>Generador de paleta de colores</h2>
            <p>Crea paletas de colores perfectas para tus diseños o inspírate con miles de hermosas combinaciones de colores.</p>
            <button id = "createButton">Crear</button>
            </div>
            <div class="palettes">
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
                <div class="palette">
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                    <div class="color"></div>
                </div>
            </div> 
        </section>
    </main>

    <footer>
    </footer>
</body>
</html>